
body{
  text-align: center;
  margin: 0;
  background-color: #EEEEEE;
}
h2{
  line-height: 1.5;
  font-size: 2.5rem;
  text-transform: capitalize;
  margin: 20px 0;
  font-family: serif;
}
h3{
  line-height: 1.5;
  font-size: 1.8rem;
  text-transform: capitalize;
  margin: 20px 0;
  font-family: serif;
}
p{
  line-height: 1.5;
  font-size: 1.2rem;
}
hr{
  display: inline-block;
  width: 20%;
  color:#7E370C;
  margin:0 auto 40px auto;
  border: none;
  height:12px;
}
a{
  text-decoration: none;
}
.photo{
  padding: 4px;
}
.main-head{
background-image:linear-gradient(rgba(0, 160, 0, 0.5),rgba(0,160,0,0)),url("https://images.pexels.com/photos/5218037/pexels-photo-5218037.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
background-position:center;
background-repeat:no-repeat;
background-size: cover;
height: 700px;

}
.hero-text-box{
  padding: 15% 10%;
  font-family: serif;
  color: white;
  text-align: left;

}
.hero-heading{
  line-height: 1.4;
  font-size: 2.9rem;
    text-transform: capitalize;
}

/* feature */

#feature{
  padding: 4% 6%;
  margin: 0px;
}
.icon1{
  color: #125C13;
}
.icon-class p{
  text-align: left;
}
p.long-copy{
  font-size: 1.3rem;
  line-height: 1.5;
}
#feature h3{
  text-align: left;
}

/* mealshowcase */
#meal-photos{
    padding: 4% 6%;
    margin: 0;
}
.meal-photo{
  width: 100%;
  text-align: center;
}
.meal-photo img{
  width: 100%;
  text-align: center;
  height: 200px;
  opacity: 0.96;
}
.meal-photo img:hover{
  opacity: 1;
  transform: scale(1.02);
  background: white;
}

/* cities */

#cities{
      padding: 4% 6%;
      margin: 0;
}
#cities img{
  width: 100%;
  height: 200px;
}
.city-feature{
  text-align: left;
}
.heading-cities{
  margin-bottom: 50px;
}
.diff-cities{
  margin-bottom: 30px;
  padding: 4px;
}
.diff-cities h3{
  text-align: left;
}

/* section-step */
#section-steps{
  background-image: url("https://www.bing.com/th?id=OIP.shh4FyosjBEFs8B_Yv06eQHaEq&w=128&h=88&c=8&rs=1&qlt=90&o=6&dpr=1.5&pid=3.1&rm=2");
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 padding: 4% 6%;
 color: white;
}
.works-step button{
margin-right: 2%;
}
.icon3{
  color:#6166B3;
}
.works-steps {
    text-align: center;
}

/* section-services */
#section-services{
  background-image: url("https://www.bing.com/th?q=Cool+Simple+Backgrounds&w=100&h=100&c=7&o=5&dpr=1.5&pid=1.7&mkt=en-IN&cc=IN&setlang=en&adlt=moderate");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 4% 6% 10% 6%;
  color: white;
}
.customer-image{
  clear: both;
  width: 100px;
  height: 100px;
  border-radius: 100%;
}
.carousel-item{
  padding: 0 10%;
}
.carousel-item p{
  line-height: 1.5;
  font-size: 1.4rem;
  text-align: left;
}

/* plan */
#plan{
  padding: 4% 6%;
}
.plan-feature-dis{
  list-style: none;
  width: 70%;
  margin-left: 25%;
  text-align: left;
  padding: 0;
  margin-bottom: 20px;
height: auto;
}

.plan-class{
  background-color:#EED6C4;
  padding: 5% 5% 10% 5%;
  margin-bottom: 20px;
  height: auto;
}

/* contact form */
#forms{
  padding:4% 6%;
}

/* footer */

footer{
  padding: 4% 6%;
  background-color: #1F1D36;
  color: white;
}
.footer-div{
  padding: 0;
}
 footer ul{
   list-style: none;
   padding: 0;
   margin: 0;
 }
 .footer-nav li{
   display: inline-block;
   float: left;
   padding-right: 2%;
 }
 .social-site li{
    display: inline-block;
   float: right;
   padding-right: 2%;
 }
.copyright{
  padding-top:3%;
  padding-bottom:1%;
}
.footer-nav li a{
  text-decoration: underline;
}


/* adding mediaqueries */

@media only screen and (max-width:583px)
{
  body{
    text-align: left;
    /* background-color: red; */
  }
  h2{
    line-height: 1.5;
    font-size: 1.8rem;
    text-transform: capitalize;
    margin: 20px 0;
    font-family: serif;
  }
  h3{
    line-height: 1.5;
    font-size: 1.5rem;
    text-transform: capitalize;
    margin: 20px 0;
    font-family: serif;
  }
  p{
    line-height: 1.5;
    font-size: 1.1rem;
  }
  .main-head{
  background-image:linear-gradient(rgba(0, 160, 0, 0.5),rgba(0,160,0,0)),url("https://images.pexels.com/photos/5218037/pexels-photo-5218037.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
  background-position:center;
  background-repeat:no-repeat;
  background-size: cover;
  height: 500px;

  }
  .hero-text-box{
    padding: 15% 5%;
    font-family: serif;
    color: white;
    text-align: left;

  }
  .hero-heading{
    line-height: 1.5;
    font-size: 2.5rem;
      text-transform: capitalize;
  }
  #meal-photos{
  padding: 4% 6%;
  text-align: center;
}
  /* section-services */
  #section-services{
    text-align: center;
  }
 /* section step */
  #section-steps{
   text-align: center;
  }
  .works-steps {
      text-align: left;
  }
  /* plan */
  .plan-feature-dis{
    list-style: none;
    width: 70%;
    margin-left:0%;
    text-align: left;
    padding: 0;
    margin-bottom: 20px;
  height: auto;
  }

  /* contact form */
  #forms{
    paddding:4% 5%;
    text-align: center;
  }
  input{
    text-align: left;
  }
  .second{
    width: 40%;
    text-align: left;
  }
  .first{
    width: 40%;
    text-align: left;
  }
  .form-button{
    margin-bottom: 20px;
  }
}
